#panel {
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  position: relative;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style:solid;
  height:60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(197, 255, 195);
  }
  
  .active {
    background-color: #4CAF50;
  }