<div *ngFor="let task of tasks">
    <p>id: <span>{{task.frontId}}</span></p>
    <p>name: <span>{{task.name}}</span></p>
    <p>description: <span>{{task.description}}</span></p>
    <p>done: {{task.done}}</p>
    <input [(ngModel)]="task.name" placeholder="name">
    <input [(ngModel)]="task.description" placeholder="description">
    <button (click)="saveTask(task)">Save</button>
    <button (click)="deleteTask(task)">Delete</button>
    <button (click)="markDone(task)">Done</button>
    <p *ngIf="showMessage">{{message}}</p>
</div>
<button (click)=add()>Add</button>