<div id="user_panel">
    <p>ToDo</p>
    <div *ngIf="logInRegisterBarActive">
        <button (click)="loginForm()">LogIn</button>
        <button (click)="signInForm()">SingIn</button>
    </div>
    <div *ngIf="emailLogOutActive">
        <p [(ngModel)]="email"></p>
        <button (click)="logOut()">LogOut</button>
    </div>
    <div *ngIf="formActive">
        <input [(ngModel)]="usercredentials.userEmail" placeholder="email">
        <input [(ngModel)]="usercredentials.userPassword" placeholder="password">
    </div>
    <div *ngIf="logInButton">
        <button (click)="cancel()">Cancel</button>
        <button (click)="login(usercredentials)">Log In</button>
    </div>
    <div *ngIf="signInButton">
        <button (click)="cancel()">Cancel</button>
        <button (click)="register(usercredentials)">Register</button>
    </div>
    <div *ngIf="messageShow">
        <p>{{message}}</p>
    </div>
</div>