<div id="user_panel">
    <p>ToDo</p>
    <div *ngIf="logInSignInSet">
        <button (click)="loginForm()">LogIn</button>
        <button (click)="signInForm()">SingIn</button>
    </div>
    <div *ngIf="emailLogOutSet">
        <p [(ngModel)]="email"></p>
        <button (click)="logOut()">LogOut</button>
    </div>
    <div *ngIf="form">
        <input [(ngModel)]="usercredentials.userEmail" placeholder="email">
        <input [(ngModel)]="usercredentials.userPassword" placeholder="password">
    </div>
    <div *ngIf="logInSet">
        <button (click)="cancel()">Cancel</button>
        <button (click)="login(usercredentials)">Log In</button>
    </div>
    <div *ngIf="signInSet">
        <button (click)="cancel()">Cancel</button>
        <button (click)="signin(usercredentials)">Sign In</button>
    </div>
    <div *ngIf="messageShow">
        <p>{{message}}</p>
    </div>
</div>