body {
    background-color: black
}
.hidden{
    display:none;
}
/* topBar */

#appContainer {
    margin:auto;
    min-width: 400px;
    max-width: 800px;
    position: relative;
}

/*startPanel*/

#startPanel {
    background-color:rgb(255, 153, 0);
    position:relative;
    height:32px;
    margin-top:20px;
    margin-bottom:20px;
}

#buttonTopBarSave {
    position:absolute;
    top:5px;
    right:150px;
}

#buttonLogIn {
    position:absolute;
    top:5px;
    right:80px;
}

#buttonSignIn {
    position:absolute;
    top:5px;
    right:10px;
}

/*loggedPanel*/

#loggedPanel {
    background-color:rgb(255, 153, 0);
    position: relative;
    height:32px;
    margin-top:20px;
    margin-bottom:20px;
}

#logOutButton{
    position:absolute;
    top:5px;
    right:10px;
}

/*logInPanel*/

#logInPanel {
    background-color:rgb(255, 153, 0);
    position: relative;
    height:100px;
    margin-top:20px;
    margin-bottom:20px;
}

/*signInPanel*/

#signInPanel {
    background-color: rgb(255, 153, 0);
    position:relative;
    height:80px;
    margin-top:20px;
    margin-bottom:20px;
}

/*cardArea*/


/*newCard*/

.newCard {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 50, 17);
    height: 25px;
    position: relative;
}

.newTaskButton {
    position: absolute;
}

/*cardEditMode*/

.cardEditMode {
    margin: 20px 0px 20px 0px;
    background-color: tomato;
    height:105px;
    position: relative;
}

.taskName {
    position: absolute;
    top:5px;
    left:5px;
}

.taskDescription {
    position: absolute;
    top:30px;
    left:5px;
}

.cardSave {
    position:absolute;
    top:5px;
    right:5px;
}

.cardCancel {
    position:absolute;
    top:30px;
    right:5px;
}

/*cardSaved*/

.cardSaved {
    margin:20px 0px 20px 0px;
    background-color: tomato;
    height:32px;
    position: relative;
}

.cardMore {
    position:absolute;
    top:5px;
    right:150px;   
}

.cardEdit {
    position:absolute;
    top:5px;
    right:80px;
}

.cardDelete {
    position:absolute;
    top:5px;
    right:10px;
}