body {
    background-color: black
}
.hidden {
    display:none;
}

.transparent {
    opacity:0;
}
/* topBar */

#appContainer {
    margin:auto;
    min-width: 400px;
    max-width: 800px;
    position: relative;
}

/*startPanel*/

#startPanel {
    background-color:rgb(255, 153, 0);
    position:relative;
    height:32px;
    margin-top:20px;
    margin-bottom:20px;
}

#buttonTopBarSave {
    position:absolute;
    top:5px;
    right:150px;
}

#buttonLogIn {
    position:absolute;
    top:5px;
    right:80px;
}

#buttonSignIn {
    position:absolute;
    top:5px;
    right:10px;
}

/*loggedPanel*/

#loggedPanel {
    background-color:rgb(255, 153, 0);
    position: relative;
    height:32px;
    margin-top:20px;
    margin-bottom:20px;
}

#logOutButton{
    position:absolute;
    top:5px;
    right:10px;
}

/*logInPanel*/

#logInPanel {
    background-color:rgb(255, 153, 0);
    position: relative;
    height:100px;
    margin-top:20px;
    margin-bottom:20px;
}

/*signInPanel*/

#signInPanel {
    background-color: rgb(255, 153, 0);
    position:relative;
    height:80px;
    margin-top:20px;
    margin-bottom:20px;
}

/*cardArea*/

.card {
    margin-top: 20px;
    background-color: tomato;
    height: 30px;
    position: relative;
}

.button-card-area-invisible {
    position: relative;
    z-index: 1;
    height: 30px;
}

.task-name-input {
    position: absolute;
    top:5px;
    left:5px;    
}

.task-description-input {
    position: absolute;
    top:30px;
    left:5px;
    resize:none;
}

.task-name {
    position: absolute;
    top:-10px;
    left:5px;
}

.task-description {
    position: absolute;
    top:30px;
    left:5px;
}

.button-card-mark {
    position:absolute;
    top:5px;
    right:75px;
}

.button-card-remove {
    position:absolute;
    top:2px;
    right:2px;
    height:26px;
    width:26px;
    background-color: blue;
    border:none;
    transition-duration:0.3s;
    color:white;
}

.button-card-remove:hover {
    background-color: green;
}

.remove-menu {
    position:absolute;
    top:25px;
    right:5px;
    z-index:1;
}

.remove-menu button {
    height:25px;
    width:100px;
    border:none;
    display:inline-block;
    color:white;
    background-color: teal;
    text-align:center;
}

.remove-menu button:hover {
    color:wheat;
    background-color: blue;
}

.button-card-saveEditUpdate {
    position:absolute;
    top:30px;
    right:5px;
}

.button-card-cancel {
    position:absolute;
    top:55px;
    right:5px;
}

.blank-warning {
    position:absolute;
    top:30px;
    right:30px;
    background-color:white;
}

.button-card-new {
    position:relative;
    margin-top:10px;
    background-color:tomato;
    width:30px;
    height:30px;
    border-radius:5px;
}

.button-card-new p {
    position:absolute;
    color:white;
    top:-15px;
    left:8px;
    font-size:20px;
    font-weight: bold;
}

