<div id="card">
    <p id="name" *ngIf="card.folded">{{card.task.taskName}}</p>
    <div *ngIf="!card.folded">
        <input id="nameInput" [(ngModel)]="name" placeholder="name">
        <textarea id="descriptionInput" [(ngModel)]="description" placeholder="description"></textarea>
    </div>
    <div id="saveAndFold">
        <button *ngIf="!card.folded" (click)="saveAndFold(name,description)">Save</button>
        <button *ngIf="card.folded" (click)="unfold()">Unfold</button>
    </div>
    <button id="deleteButton" (click)="delete()">Delete</button>
    <div id="doneButton">
        <button *ngIf="!card.task.done" (click)="markDone(name,description)">Make Done</button>
        <button *ngIf="card.task.done" (click)="markNotDone(name,description)">Make not done</button>
    </div>
    <p id="cardMessage" *ngIf="card.messageShow">{{card.message}}</p>
</div>