<div class="card m-2">
    <div class="card-body">
        <div style="float: right;">
            <button mat-icon-button *ngIf="!card.folded" (click)="fold()"><mat-icon>expand_less</mat-icon></button>
            <button mat-icon-button *ngIf="card.folded" (click)="unfold()"><mat-icon>expand_more</mat-icon></button>
            <input type="checkbox" [checked]="card.done" (change)="card.done = !card.done; updater()"> Done
            <button mat-icon-button (click)="delete()"><mat-icon>close</mat-icon></button>
        </div>
        <div *ngIf="card.folded">
            <h2 class="card-title">{{card.taskName}}</h2>
        </div>
        <div *ngIf="!card.folded">
            <div *ngIf="!card.editMode">
                <h1 class="card-title">{{card.taskName}}</h1>
                <h2 class="card-text">{{card.description}}</h2>
                <button *ngIf="!card.editMode" (click)="edit()" class="btn btn-primary">Edit</button>
            </div>
            <div *ngIf="card.editMode">
                <div class="mb-3">
                    <label for="taskname" class="form-label">Task name</label>
                    <input class="form-control" id="taskname" aria-describedby="emailHelp" [(ngModel)]="card.taskName">
                </div>
                <div class="mb-3">
                    <label for="taskdescription" class="form-label">Task description</label>
                    <input class="form-control" id="taskdescription" [(ngModel)]="card.description">
                </div>
                <button *ngIf="card.editMode" (click)="save()" class="btn btn-primary mb-3">Save</button>
            </div>
        </div>
        <h2 class="text-danger" *ngIf="card.messageShow">{{card.message}}</h2>
    </div>
</div>