<div>
    <div *ngIf="folded">
        <p><span>{{task.name}}</span></p>
    </div>
    <div *ngIf="!folded">
        <p>id: <span>{{task.frontId}}</span></p>
        <p>name: <span>{{task.name}}</span></p>
        <p>description: <span>{{task.description}}</span></p>
        <p>done: {{task.done}}</p>
        <input [(ngModel)]="task.name" placeholder="name">
        <input [(ngModel)]="task.description" placeholder="description">
    </div>
    <div>
        <div>
            <button *ngIf="!folded" (click)="saveAndFold()">Save</button>
            <button *ngIf="folded" (click)="unfold()">Unfold</button>
        </div>
        <button (click)="delete()">Delete</button>
        <div>
            <button *ngIf="!task.done" (click)="markDone()">Make Done</button>
            <button *ngIf="task.done" (click)="markNotDone()">Make not done</button>
        </div>
    </div>
    <p>{{message}}</p>
</div>
