<div class="card m-2" style="height:70px">
    <div class="card-body">
        <h2 class="card-title">{{barMessage}}</h2>
        <div style="float:right; position:relative; top:-60px">
            <button *ngIf="logInSignInVisible" (click)="logIn()" class="btn btn-primary m-2">Log In</button>
            <button *ngIf="logInSignInVisible" (click)="signIn()" class="btn btn-primary m-2">Sign In</button>
            <button *ngIf="logOutVisible" (click)="logOut()" class="btn btn-primary m-2">Log Out</button>
        </div>
    </div>
</div>
